<%- partial("_partial/tagline") %>
<p>
  Specifically, I'll share <strong>alternative</strong>, clever methods for teaching nontrivial programming concepts to beginners.
</p>
<p>
  Some are my original ideas, and some are from elsewhere on the web.
</p>
